
body{

    font-family: 'Lato', sans-serif;

}

img{
    border-radius: 50%;
}

#container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    
}

.container-carousel{
    display: flex;
    align-items: center;
    

}
 .carousel-item{

    margin: 5px 30px; 

}


.slide{

    display: flex;
    flex-flow: column;
    align-items: center;
}

.text{
    color: #0846B0;
    
    font-weight: bold;
    

}

.subject{

    font-size: 0.8em;

}

p{
    margin: 3px;
}