img{
    border-radius: 50%;
}

#container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.container-carousel{
    display: flex;
    align-items: center;
    

}
 .carousel-item{

    margin: 5px 30px; 

}
